<style>

  #buttons-box {                                                                    
    background-color: #FFFFFF;                                                    
    border: 1px solid #AAAAAA;                                                    
    padding: 15px 5px 15px 5px;
    border-width: 1px 0px 1px 0px;
    text-align: center;
  }   
 
  .buttons {
    width: 400px !important;
  }
</style>


  <div id = "page-title">
    Students
  </div>

  <div id = "buttons-box">
  
  <p>  
    <input type ="button" class="btn buttons" value="Create" />
  </p>  

  <p>  
    <input type ="button" class="btn buttons" value="Edit" />
  </p>  

</div>
