<style>

  .buttons {
    width: 400px !important;
  }

  .sidebar-nav {
    text-align: center;
  }

</style>


  <div id = "page-title">
    Students
  </div>

  <div class="well sidebar-nav">

  <p>  
    <%= link_to "Find", '/students/search', :class => 'btn buttons' %>
  </p>  

  <p>  
    <%= link_to "Create", '/students/new', :class => 'btn buttons' %>
  </p>  

  </div>

